// Typefaces

$font-mono: 'IBM Plex Mono', monospace;

// Colors

$color-blue-1: #CFD8DC;
$color-blue-2: #607D8B;
$color-blue-3: #455A64;
$color-blue-4: #282C2E;
$color-grey-1: #BDBDBD;
$color-grey-2: #707070;
$color-grey-3: #2C2C2C;
$color-grey-4: #212121;
